.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-title {
  @extend %style-for-title;
}

.client-list {
  justify-content: space-between;
}

.clients-logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.client-list-link:hover .clients-logo,
.client-list-link:focus .clients-logo {
  fill: $accent-color;
}
